@layer box {
    .box {
        padding: 2.25rem;
    }

    .box__outline {
        border: 0.25em solid var(--primary, cyan);
    }

    .box__outline p {
        margin: 0;
    }

    .box__outline h3 {
        margin-top: 0;
    }

    .box__solid {
        background-color: var(--gray, grey);
        color: var(--light, white);
        text-align: center;
        margin-top: 2em;
        padding-bottom: 4rem;
    }

    .box__solid h3 {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0.5em;
    }

    .box__solid p {
        font-size: var(--figure-caption-font-size);
        margin-bottom: 1.5em;
        margin-top: 1em;
    }

    .bigger {
        font-size: 2em;
    }
}