@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@import url(button.css) layer(button);
@import url(footer.css) layer(footer);
@import url(gallery.css) layer(gallery);
@import url(card.css) layer(card);
@import url(header.css) layer(header);
@import url(figure.css) layer(figure);
@import url(box.css) layer(box);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;

        --h1-font-size: 72px;
        --h2-font-size: 36px;
        --h3-font-size: 20px;
        --p-font-size: 16px;
        --figure-caption-font-size: 14px;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: 2em;
        height: 1em;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
    h1 {
        font-size: var(--h1-font-size);
        margin-bottom: 0.25em;
    }

    h2 {
        font-size: var(--h2-font-size);
    }

    h3 {
        font-size: var(--h3-font-size);
        margin-top: 3em;
    }

    p {
        font-size: var(--p-font-size);
        margin-top: 2em;
        margin-bottom: 2em;
        line-height: 1.5;
    }

    ul li {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    ul li::marker {
        color: var(--primary, cyan);
    }

    main {
        width: min(90vw, 1000px);
        margin: 0 auto;
    }

    picture img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
    }
}